:root {
    --main-bg-color: white;
}
.main2-container {
    height: 300px;
    width: 1621px;
    background-color:var(--main-bg-color);
    margin: 50px auto;
    display: flex;
    justify-content: center;
}
.second-container {
    height: 269px;
    width: 1620px;
    background-color: white;
    box-shadow: 0px 0px 3px black;
    /* margin-bottom: 12px; */
    display: flex;
    justify-content: center;
    margin: 0px auto auto auto;
}